<div style="clear: both; line-height: .7; margin-bottom: 1rem;">
  <div style="float: left;">
<%- (@view_object[:top_left] + @view_object[:weather_status]).each do |top_left| -%>
<span style="margin-right: .5rem;"><i class="mdi mdi-<%= top_left[:icon] %>" style="margin-right: .1rem;<%= " display: inline-block; transform: rotate(#{top_left[:rotation]}deg);" if top_left[:rotation] %>"></i><%= top_left[:label] %></span>
<%- end -%>
  </div>
  <div style="float: right; text-align: right;">
<%- @view_object[:top_right].each do |top_right| -%>
<span><i class="mdi mdi-<%= top_right[:icon] %>" style="margin-right: .1rem;"></i><%= top_right[:label] %></span>
<%- end -%>
  </div>
  <div>&nbsp;</div>
</div>
<hr style="margin: 1rem 0 1rem; border: none; background-color: #ccc; color: #ccc; height: 2px;">
